<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>The Tool Club</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/staticassets/img/logo.png" rel="icon">
  <link href="/staticassets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename"><img src="/static/img/logo.png" style="height: 60px; width: 60px;"></h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a style="color: #7798AB;" href="#hero" class="active">Home</a></li>
          <li><a style="color: #7798AB;" href="#why-us">How it Works</a></li>
          <li><a style="color: #7798AB;" href="#services">Available Tools</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="#pricing">Join Now</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
            <h1>Any Tool, Any Time</h1>
            <p>Choose your membership type based on your personal needs.</p>
            <div class="d-flex">
              <a href="#pricing" class="btn-get-started">Join Now</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
            <img style="border-radius:8px ;" src="/static/img/Main-Pics/41.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->


    
    <!-- Why Us Section -->
    <section id="why-us" class="section why-us light-background" data-builder="section">

      <div class="container-fluid">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

            <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
              <h3><span>How It</span><strong> Works</strong></h3>
            </div>

            <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">

              <div class="faq-item faq-active">
                <h3><span>01</span>Membership</h3>
                <div class="faq-content">
                  <p>Join The Tool Club. It's your all-access pass to our
                    gear.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span>02</span>Borrow</h3>
                <div class="faq-content">
                  <p> Need a power drill? A generator? A freakin' jackhammer?
                    We've got you covered. Browse our inventory, reserve what you
                    need, and pick it up. No BS, no hidden fees</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span>03</span>Use</h3>
                <div class="faq-content">
                  <p> Build that deck. Clean that carpet. Aerate that lawn. Tackle
                    that project you've been putting off. Our tools, your skills. </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>
              <div class="faq-item">
                <h3><span>04</span>Return</h3>
                <div class="faq-content">
                  <p> Bring the tools back in one piece. We'll clean 'em up and
                    get 'em ready for the next member</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>
              <div class="faq-item">
                <h3><span>05</span>Repeat</h3>
                <div class="faq-content">
                  <p>Keep that DIY energy flowing. Borrow again whenever
                    you need to. </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>
              <!-- End Faq item-->

            </div>

          </div>

          <div class="col-lg-4 order-1 order-lg-2 why-us-img">
            <img src="/static/img/Main-Pics/11.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>
        </div>

      </div>

    </section><!-- /Why Us Section -->


    <!-- Services Section -->
    <section id="services" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Available Tools</h2>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="row gy-4">

          <div class="parent-service-item col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon my-4"><img width="155" height="100" src="/static/img/Tools/Honda Generator.PNG"></img></div>
              <h4><a href="#" class="stretched-link">Honda Generator</a></h4>
            </div>
          </div><!-- End Service Item -->

          <div class="parent-service-item col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon my-4"><img width="155" height="100" src="/static/img/Tools/Carpet Cleaner.PNG"></img></div>
              <h4><a href="#" class="stretched-link">Carpet Cleaner</a></h4>
            </div>
          </div><!-- End Service Item -->

          <div class="parent-service-item col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon my-4"><img width="155" height="100" src="/static/img/Tools/Pressure Washer.PNG"></img></div>
              <h4><a href="#" class="stretched-link">Pressure Washer</a></h4>
            </div>
          </div><!-- End Service Item -->

          <div class="parent-service-item col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon my-4"><img width="155" height="100" src="/static/img/Tools/Cordless Drill.PNG"></img></div>
              <h4><a href="#" class="stretched-link">Cordless Drill</a></h4>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->
    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Pricing</h2>
        <div><span>Check Our</span> <span class="description-title">Pricing</span></div>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="pricing-item">
              <h3>
                Toolbox Lite</h3>
              <h4><sup>$</sup>18<span> / month</span></h4>
              <ul class="plan-list">
                <li><i class="bi bi-check"></i> <span>Includes small, handheld, battery powered and plugin tools</span>
                </li>
                <li><i class="bi bi-check"></i> <span>Includes home cleaning tools</span></li>
                <li><i class="bi bi-check"></i> <span>Up to 1 week with any tool, and up to 2 tools at a time</span>
                </li>
                <li><i class="bi bi-check"></i> <span>Best for those with an apartment or condo</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Large outdoor gas powered equipment </span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Large scale renovation tools</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Up to 1 week with yard tools, and up to 2 tools at a
                    time</span></li>
                <!-- <li class="na"><i class="bi bi-x"></i> <span>Best for those with landscaping needs</span></li> -->
              </ul>
              <button id="toolbox-lite" class="plan-button"><strong> $5 </strong> Reserve a spot</button>

              <p class="plan-description">Reserve your spot to be a member of the tool club when we launch later this year,
                and get your
                first month free. Don’t worry, this fee is fully refundable</p>
            </div>
          </div><!-- End Pricing Item -->


          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="pricing-item">
              <h3>
                Toolbox Pro</h3>
              <!-- <p class="description">Ullam mollitia quasi nobis soluta in voluptatum et sint palora dex strater</p> -->
              <h4><sup>$</sup>36<span> / month</span></h4>
              <ul class="plan-list">
                <li><i class="bi bi-check"></i> <span>Includes small, handheld, battery powered and plugin tools</span>
                </li>
                <li><i class="bi bi-check"></i> <span> Includes home cleaning tools</span></li>
                <li><i class="bi bi-check"></i> <span>Up to 2 weeks with any Lite tool, and up to 4 tools at a
                    time</span></li>
                <li><i class="bi bi-check"></i> <span>Best for those with landscaping needs</span></li>
                <li><i class="bi bi-check"></i> <span>Large outdoor gas powered equipment </span></li>
                <li><i class="bi bi-check"></i> <span>Large scale renovation tools</span></li>
                <li><i class="bi bi-check"></i> <span>Up to 1 week with yard tools, and up to 2 tools at a time</span>
                </li>
              </ul>
              <button id="toolbox-pro" class="plan-button"><strong> $10</strong> Reserve a spot</button>

              <p class="plan-description">
                Reserve your spot to be a member of the tool club when we launch later this year, and get your 
                first month free. Don’t worry, this fee is fully refundable.</p>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->
  </main>

  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
            <form action="/static/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe">
              </div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class="d-flex align-items-center">
            <span class="sitename"><img src="/static/img/logo.png" style="height: 50x; width: 50px;"></span>
          </a>
          <div class="footer-contact pt-3">
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#hero">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#why-us">How it Works</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#services">Available Tools</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#pricing">Join Now</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Honda Generator</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Carpet Cleaner</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Pressure Washer</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Cordless Drill</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Follow Us</h4>
          <p>Follow us on social media platforms to stay engaged with TheToolClub</p>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <!-- <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Arsha</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div> -->

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Stripe File -->
  <script src="https://js.stripe.com/v3/"></script>
  <!-- Main JS File -->
  <script src="/static/js/main.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {

        // List of images corresponding to the FAQ items
        const faqImages = [
            "/static/img/Main-Pics/11.png", // For Membership
            "/static/img/Main-Pics/22.png", // For Borrow
            "/static/img/Main-Pics/33.png", // For Use
            "/static/img/Main-Pics/55.png", // For Return
            "/static/img/Main-Pics/66.png"  // For Repeat
        ];
    
        // Select all the FAQ toggles
        const faqToggles = document.querySelectorAll('.faq-item');
    
        // Attach click event to each FAQ toggle
        faqToggles.forEach((toggle, index) => {
            toggle.addEventListener('click', function() {
            // Set the image source based on the clicked FAQ item
            const imgElement = document.querySelector('.why-us-img img');
            imgElement.src = faqImages[index];
            });
        });
    });

    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    const planButtons = document.querySelectorAll(".plan-button");
    const csrftoken = getCookie('csrftoken');

    planButtons.forEach(button => {
        button.addEventListener("click", function () {
            const price = button.id === "toolbox-lite" ? 5 : 10;
            const planName = button.id === "toolbox-lite" ? "Toolbox Lite" : "Toolbox Pro";

            const dataToSend = {
                price: price,
                planName: planName
            };

            fetch("/checkout/", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify(dataToSend),
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        });
    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
  </script>
</body>

</html>